:root {
    --grid-gap: 2px;
    --header-height: 36px;
    --footer-height: 28px;
    --grid-height: calc(100vh - 4px);
    --main-height: calc(100vh - var(--header-height) - var(--footer-height) - 8px);
    --main-width: calc(100vw - 4px);
    --main-header-background-color: orange;
    --main-footer-background-color: red;

}

body
{
    font-family: "Open Sans", sans-serif;
    margin: 2px;
    padding: 0px;
}


.oph-table {
    max-height: var(--main-height); 
    width: var(--main-width); 
    overflow: auto;
    font-size: small;
}

.map-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}

.map-left {
  grid-column: 1;
  grid-row: 1;
}

.map-right {
  grid-column: 2;
  grid-row: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 36px 1fr 28px;
  height: var(--grid-height);
  grid-gap: 2px;
}

.main {
  grid-column: 1;
  grid-row: 2;
  /*position:relative;*/
  /*min-height:10em;*/
  /*min-width: 5000px;*/
  /*width: 500px;*/
  /*height: 400px;*/
  /*height: calc(100vh - 20px);*/
  /*max-height:100%;*/
  /*overflow:auto;*/
}

.header {
  grid-column: 1;
  grid-row: 1;
  overflow:auto;
  background-color: var(--main-header-background-color);  /*teal;*/
  /*color: white;*/
  
  
  display: flex;
  align-items: center;
  overflow-x: auto;
  /*
  flex-wrap: wrap;
  justify-content: space-between;*/
}

.header::webkit-scrollbar{
    display: none;
}

.header > div{
    /*border-left: 10px solid transparent;*/
    margin-left: 10px;  /*border=left ile ayni etki*/
}

.subheader {
    /*
  grid-column: 1;
  grid-row: 1;*/
  overflow:auto;
  /*background-color: cadetblue;*/
  /*color: white;*/
  display: flex;
  align-items: center;
  height: 27px;
}

.subheader > div{
    /*border-left: 10px solid transparent;*/
}

.footer {
  grid-column: 1;
  grid-row: 3;
  
  background-color: var(--main-footer-background-color);  /*teal;*/
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > div{
    border-left: 10px solid transparent;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 2em;
  padding: 7px;
  background-color: #000;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1em;
  line-height: 1.2;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before{
  visibility: visible;
  opacity: 1;
}


.InputAddOn {
  display: flex;
  align-items: center;
  /*margin-bottom: 1.5em;*/
}

.InputAddOn-field {
  flex: 1;
}

.InputAddOn-item {
  background-color: rgba(147, 128, 108, 0.1);
  color: #666666;
  font: inherit;
  font-weight: normal;
  margin-left: 5px;
}

.InputAddOn-field,
.InputAddOn-item {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.1em 0.3em;
}
