[abbr="frm"] {
	/*max-width: 200px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table {
	border-collapse: collapse;
	/*border-spacing: 0px;*/
    border: 1px;
	margin-left: auto;
	margin-right: auto;
}
table > caption {
    text-align: left;
    background-color: azure;
    border: 1px solid lightgray;
    margin-bottom: var(--grid-gap);
}

thead {
    /*display: table-row-group;*/
    background-color: lightblue;
}

tfoot {
    border: 1px solid lightgray;
}

tfoot th {
    text-align: left;
}

tfoot th *{
    padding-left: 1em;
}

td {
  	line-height: 1.5em;
	padding: 0.2em 0.4em;
	border: 1px solid #CBCBCB;
}

th {
  	line-height: 2em;
	text-align:center;
	/*border: 2px solid #CBCBCB;*/
}


td.trh {
	min-width: 55px;
	text-align: center;
}

/*
tr:nth-child(even) {
    background-color: #dddddd;
}*/

.blank_row {
	border: none;
}

.curRow {
	background-color: orange !important;
	color: white;
}

.curSort {
	background-color: red !important;
	color: white;
}

.searchInput {
    width:100%;
    border-style:none;
    text-align:center;
    line-height:unset;
}

/*
thead {
	background-color: maroon;
	color: white;
}

tfoot {
	background-color: maroon;
	color: white;
}
*/
[scope="row"] {
	background-color: orange;
	color: white;
	text-align: center;
}

[abbr="P"] {	/*Puan*/
	text-align: center;
	font-weight: bold;
}
[abbr="O"] {	/*Oynadigi*/
	text-align: center;
	font-weight: bold;
}
[abbr="A"] {	/*Aldigi*/
	text-align: center;
}
[abbr="B"] {	/*Berabere*/
	text-align: center;
}
[abbr="V"] {	/*Verdigi*/
	text-align: center;
}
[abbr="AV"] {	/*Avaraj Aldigi-Verdigi*/
	text-align: center;
}
[abbr="R"] {	/*Rank*/
	text-align: center;
	background-color: blue; /*Galip*/
	color: white;
}
[abbr="#"] {	/*Index*/
	text-align: center;
}
[abbr="D"] {	/*OyuncuDouble*/
	font-weight: bold;
}
[abbr="S"] {	/*OyuncuSingle*/
	font-style: normal;
}
[abbr="G"] {	/*Galip*/
	background-color: #ccffcc;
	color: black;
}

[winner="G"] {
	background-color: #ccffcc; /*Galip*/
	color: black;
	/*background: linear-gradient(#ccffcc, white);*/
}
[winner="B"] {
	background-color: #ffff80; /*Beraber*/
	color: black;
}
[winner="M"] {
	background-color: #ffe6cc; /*Maglup;*/
	color: black;
}

@media print {
	a[href]:after {
		content: none !important;
	}

	table {
		  width: 100%; margin: 0; float: none;
	}
}


/* THE FOLLOWING CSS IS REQUIRED AND SHOULD NOT BE MODIFIED. 
    div.fauxRow {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      page-break-inside: avoid;
    }
    table.fauxRow {border-spacing: 0;}
    table.fauxRow > tbody > tr > td {
      padding: 0;
      overflow: hidden;
    }
    table.fauxRow > tbody > tr > td > table.print {
      display: inline-table;
      vertical-align: top;
    }
    table.fauxRow > tbody > tr > td > table.print > caption {caption-side: top;}
    .noBreak {
      float: right;
      width: 100%;
      visibility: hidden;
    }
    .noBreak:before, .noBreak:after {
      display: block;
      content: "";
    }
    .noBreak:after {margin-top: -594mm;}
    .noBreak > div {
      display: inline-block;
      vertical-align: top;
      width:100%;
      page-break-inside: avoid;
    }
    table.print > tbody > tr {page-break-inside: avoid;}
    table.print > tbody > .metricsRow > td {border-top: none !important;}
	table.fauxRow, table.print {
      font-size: 16px;
      line-height: 20px;
    }
	*/